* {
  font-family: "Plus Jakarta Sans", Helvetica, Arial, sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

#__next {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
